*,
*::after,
*::before {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  background-color: lightgray;
  padding: 15px;
}
button {
  height: 20px;
  width: 40px;
  background-color: burlywood;
}
.red {
  background-color: crimson;
}
.blue {
  background-color: royalblue;
}
